<center>
    <div class="lds-spinner" style='display:none;'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</center>

<h3 id='editorThankYou' style='display:none;'>Thank you! We will respond within the next 24-48
    hours!</h3>