{{> header}}
<div id="pageBody">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-rounded img-responsive" src="/images/printu.jpg">

            </div>
            <div class="col-sm-8">
                <h2>Who is your Pharmacist?</h2>
                <p>
                    My name is Printu, co-owner and Pharmacist in charge here at Medical Arts Pharmacy.
                    <br /><br />
                    I’ve been a registered pharmacist since 2006, graduated from UCLA and obtained my PharmD from
                    Western University of Health Sciences. I had worked for a large pharmacy chain for over 13 years and
                    managed over 15 locations and 165 pharmacy employees before I decided to open up my own pharmacy. I
                    want to use my expertise to bring a more personalized experience for my patients and do what I am
                    most passionate about- improving patient quality of life and health outcomes. When you come in, you
                    will likely work with me. If I am assisting patients, my support staff including Sandra, Judy,
                    Nayomi and Araceli are here to assist you and answer your questions. Just ask for us by name.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <h2>The Independent Alternative</h2>
                Millions of people every year endure the impersonal world of “big chain” pharmacies- standing in endless
                lines, waiting days for refills, rarely seeing the same pharmacist twice- and they generally do it for
                two reasons:
                They believe they are saving money.
                They don't realize they have a choice.
                At Medical Arts Pharmacy, we believe there is a better way. But before we tell you, why not read for
                yourself how other consumers just like you feel about independent drug stores? Check out the 2011
                Consumer Reports article detailing how 94% of shoppers are "highly satisfied" with pharmacies like us!

                <h2>Service</h2> We are a small, private pharmacy and we have a vision. Once you tell us your name,
                we’ll remember it. If you have special needs, we will do our very best to accommodate you promptly. Our
                customers are our friends: we want you to rely on us. Bring in your kids so we can say hello. And Fido,
                too. We pledge unmatched service, and smiles, every time.

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="/images/about_us_1.jpg" class="img-responsive img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="/images/about_us_2.jpg" class="img-responsive img-rounded" />
            </div>
            <div class="col-sm-4">
                <img src="/images/about_us_3.jpg" class="img-responsive img-rounded" />
            </div>
        </div>

    </div>
</div>
{{> footer}}