{{> header}}
<div id="pageBody">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-rounded img-responsive" src="/images/Contact_US.jpg">
            </div>
            <div class="col-sm-6">
                <img class="img-rounded img-responsive" src="/images/Contact_US2.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2>Connect With {{name}}</h2>
                <p>You may contact us by using the form on this page or any of the ways below:</p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa-lg fa fa-phone"></i>Phone: {{nicePhone}}</li>
                    <li>
                        <hr />
                    </li>
                    <li><i class="fa-li fa-lg fa fa-facebook facebook"></i>Facebook: <a
                            href="https://www.facebook.com/rxmedarts"> RxMedArts</a></li>
                    <li>
                        <hr />
                    </li>
                    <li><i class="fa-li fa-lg fa fa-twitter twitter"></i>Twitter: <a
                            href="https://twitter.com/rxmedarts">@RxMedArts</a></li>
                    <li>
                        <hr />
                    </li>
                    <li><i class="fa-li fa-lg fa fa-yelp yelp"></i>Yelp: <a
                            href="http://www.yelp.com/biz/medical-arts-pharmacy-la-mesa">medical-arts-pharmacy-la-mesa</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div id='editorRow'>
                        <div id='editor_holder'></div>
                        <div class="g-recaptcha" data-sitekey="6Lc_UhcUAAAAAAlJSXkW9n2tSfn-iuvT4VusqFeF"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Send
                                    Message</button>
                            </div>
                        </div>
                    </div>
                    <h3 id='editorThankYou' style='display:none;'>Thank you! We will respond within the next 24-48
                        hours!</h3>

                </div>
                <!--<iframe
                        src="https://docs.google.com/forms/d/e/1FAIpQLScIYziZCo1_zyErFv587jVFRKF1raI3U2SjidKp5zdsAMINVg/viewform?embedded=true"
                        style='width:100%;' height="1034" frameborder="0" marginheight="0"
                        marginwidth="0">Loading...</iframe>-->
            </div>
        </div>
    </div>
</div>
{{> footer}}
<script>
    // Initialize the editor with a JSON schema
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        schema: {
            type: "object",
            title: "Contact Us",
            no_additional_properties: true,
            required_by_default: true,
            properties: {
                Name: {
                    type: "string",
                    format: "name",
                    minLength: 5,
                    maxLength: 50,
                },
                Email: {
                    type: "string",
                    format: "email",
                    minLength: 10,
                    maxLength: 150,
                },
                Subject: {
                    type: "string",
                    enum: [
                        "Request",
                        "Suggestions",
                        "Customer Service",
                        "Other"
                    ]
                },
                Message: {
                    type: "string",
                    format: "textarea",
                    minLength: 20,
                    maxLength: 250,
                }
            }
        }
    });
    editor.on('change', function () {
        editor.validate();
    });
    document.getElementById('btnContactUs').addEventListener('click', function () {
        let errors = editor.validate();
        if (errors.length) {
            alert('There was an error with the form. All fields are required.');
        }
        else {
            editor.disable();
            document.querySelector('#editorRow').style.display = 'none';
            let form = editor.getValue();
            form.form = 'contactUs';
            form.clientSubmissionDate = Date.now();
            let endpoint = '{{submissionEndpoint}}';
            putMessage(form, endpoint).then(() => {
                document.querySelector('#editorThankYou').style.display = 'block';
                editor.destroy();
            }).catch(x => {
                editor.enable();
                document.querySelector('#editorRow').style.display = 'block';
            });
        }
    });


</script>