{{> header}}
<div id="pageBody" >
	<div class="container">
	
		<div class="row">
			<div class="col-sm-12">
				<img class="img-responsive" src="/images/insurance2.jpg" >	
				<p>
					Medical Arts Pharmacy tries to find the lowest prescription prices, when possible, for you. We will work with your Medicare D plans and physicians to find lower priced generic drugs whenever possible to keep prescription drugs affordable.
					<ul class="servicesUl">
						<li>Competitive prices</li>
						<li>Billing for Worker’s Compensation</li>
						<li>Major insurance plans accepted</li>
						<li>Complete financial print outs for income tax and insurance</li>
						<li>Will search for manufacture coupons to reduce co-pays where applicable</li>
					</ul>
				</p>
				<h2>Price</h2> On average our prices are as good, if not better, than the big chains. How? We are members of AAP (American Associated Pharmacies) and buy drugs at aggregate discounted prices with thousands of other pharmacies. And we are privately owned, so we can often set our own prices.

				<h2>Product</h2> We use the same suppliers as our larger competitors and ensure they are obtained from accredited sources. 

				<h2>The bottom line for you</h2> On average, our prices are the same as the big guys and our service is beyond compare. Transfer your prescriptions to Medical Arts Pharmacy. You will be glad you did. Just let us know and we will take care of the rest.
				<br/>
			</div>
		  </div>
	</div>
</div>
{{> footer}}