{{>header}}

<div id="pageBody">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-rounded img-responsive hidden-xs" src="/images/services.jpg">
            </div>
            <div class="col-sm-7">
                <h2>Our Services</h1>
                    <p>At Medical Arts Pharmacy, we work with the health care community to give our patients the best
                        service possible. Experience the Medical Arts Pharmacy difference for yourself.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br />
                <ul class="servicesUl">
                    <li>Most insurance plans accepted</li>
                    <li>Competitive pricing</li>
                    <li>Billing for Workman's Comp</li>
                    <li>Bilingual staff who speak Spanish</li>
                    <li>Delivery </li>
                    <li>Complete financial print outs for income tax and insurance</li>
                    <li>Fast Friendly Service</li>
                    <li>Medication Refill Program: WHAT IS THIS? This is a convenient way to have all of your
                        prescriptions filled on the same day each month.

                        <ul>
                            <li>No need to call in prescription refills fewer trips to the pharmacy or fewer deliveries
                                from us.</li>
                            <li>No worries about running out of your medication. </li>
                            <li>Synchronizing your medications will simplify your life and give you one less thing to
                                worry about. This is a convenient way to have all of your prescriptions filled on the
                                same day each month. Send us a message or speak to one of our pharmacists today to sign
                                up for this program! </li>
                        </ul>

                    </li>
                    <li>Multi-vitamins &amp; Over the Counter Medications: We also carry a full line of Over The Counter
                        (OTC) medications that are available without a prescription, including antacids, antidiarrheal,
                        antihistamines, cough medicines, decongestants, laxatives and pain relievers. We are always more
                        than happy to help you select which product may be right for your specific needs.</li>
                    <li>Pain Management - Uncontrolled pain stops you from being you. Even when the underlying cause of
                        your pain is stable, uncontrolled pain prevents you from working productively and enjoying all
                        the things you love. We are here for you. Whether you suffer from chronic pain or acute pain,
                        Medical Arts Pharmacy is in constant communication with pain management physicians in the area
                        to be sure we always have their most frequently prescribed medications in stock.:</li>
                    <li>Vaccinations: Flu Shots, Travel etc.</li>
                    <li>Compression Stockings: available upon request. </li>
                </ul>



            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <br />
                <h1>Stop in and visit us. We know you’ll like what you see!</h1>
            </div>
            <div class="col-sm-4">
                <img class="img-rounded img-responsive hidden-xs" src="/images/services2.jpg">
            </div>

        </div>
    </div>
</div>

{{>footer}}