{{> header}}
<div id="pageBody">
	<div class="container">
		<div class="row">
			<div class="col-sm-12  underline-href">
				<h1>Resources</h1>
				Medical Arts Pharmacy wants to partner with you to help you lead a healthy, vibrant life. We’ll update
				this page from time to time with links, articles and questions/answers we receive in our pharmacy that
				promote healthy living. As always, please feel free to stop in or call for a free consultation.

				<h2>Forms</h2>
				<a href="Blood_SugarTracker.pdf" target="_blank">Blood Sugar Tracker</a><br />
				<a href="blood_pressure_log.pdf" target="_blank">Blood Pressure Log</a>

				<h2>Links</h2>
				American Diabetes Association: <a href="http://www.diabetes.org/" target="_blank">www.diabetes.org</a>
				<BR />
				Asthma and Allergy Foundation of America: <a href="http://www.aafa.org/"
					target="_blank">www.aafa.org</a>
				<BR />
				American Heart Association <a href="http://www.heart.org/HEARTORG/"
					target="_blank">www.heart.org/HEARTORG/</a>
				<BR />
				American Cancer Society <a href="http://www.cancer.org/" target="_blank">www.cancer.org</a>
				<BR />
				Immunizations <a href="http://www.cdc.gov/vaccines/" target="_blank">www.cdc.gov/vaccines/</a>
				<BR />
				<a href="http://www.womenshealth.gov/" target="_blank">www.womenshealth.gov</a>
				<BR />
				<a href="http://www.webmd.com/" target="_blank">www.webmd.com</a>
				<BR />
				<a href="http://www.consumerreports.org/health/home.htm?CMP=OTC-NAV3"
					target="_blank">www.consumerreports.org/health/home.htm?CMP=OTC-NAV3</a>
				<BR />
				<a href="http://www.mayoclinic.com/" target="_blank">www.mayoclinic.com</a>
				<BR />
				<a href="http://kidshealth.org/" target="_blank">kidshealth.org</a>
				<BR />
			</div>
		</div>

	</div>
</div>

{{> footer}}